.App {
  text-align: center;
  background-color: #222;
  height:100%;
}

.App-content {
  height: 100vh;
  padding: 40px;
}

.App-logo {
  width: 25%;
  height:auto;
  margin-left: 1%;
}

.App-header {
  background-color: #222;
  width: 100%;
  height:auto;
  padding: 20px;
  color: white;
}
